.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 5px; /* Change width */
    height: 5px; /* Change height */
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #040404;
    background-clip: padding-box;
    border: 5px solid transparent; /* Added border size */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    opacity: .8;
    border-radius: 100%; /* Add border-radius */
}
.carousel-indicators [data-bs-target].active {
    background-color: #030303; /* Active color */
    box-shadow: 0 0 0 1px #f66d86;
  }
  .highlight-row:hover {
    background-color: #fd7979; /* Change the background color on hover */
    border-radius: 10px;
  }

  #projectImage {
    width: 500px; /* Set the width to 100% of its container */
    height: 500px; /* Maintain aspect ratio */
    border: 5px solid transparent; 
  }
  .custom-col {
   
    border-radius: 10px;

  }
  @media (min-width: 576px) {
    .custom-col {
      margin-right: 2px; /* Adjust as needed */
    }
  }
  @media (max-width: 575.98px) {
    .custom-col {
      margin-bottom: 10px; /* Add margin between rows on small screens */
    }
  }
  #cardContainer2 .card:hover{
    background-color: #f3dada; /* Change the background color on hover */
    border-radius: 10px;
  }